<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand text-light">Issue Application</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav">

      <li class="nav-item">

        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>

    </ul>

  </div>

</nav>


<div class="jumbotron m-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>
          <h2 class="form-signin-heading">Reset Password</h2>
        </h3>
        <form name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="password"
              #password1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password1.invalid }" required
              minlength="6" />
            <div *ngIf="f.submitted && password1.invalid" class="invalid-feedback">
              <div *ngIf="password1.errors.required">Password is required</div>
              <div *ngIf="password1.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" class="form-control" name="password"
              [(ngModel)]="confirmPassword" #password1="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && password1.invalid }" required minlength="6" />
            <div *ngIf="f.submitted && password1.invalid" class="invalid-feedback">
              <div *ngIf="password1.errors.required">Password is required</div>
              <div *ngIf="password1.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary">Reset Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #eee;height:350px; margin-top: 0px;"></div>