<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand  text-light">Issue Tracker</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav">

      <li class="nav-item">

        <a class="nav-link" (click)="signUpFunction()">Sign-Up</a>

      </li>
      <li class="nav-item">

        <a class="nav-link" (click)="loginFunction()">Login</a>

      </li>

    </ul>

  </div>

</nav>



<div class="jumbotron m-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>
          <h2 class="form-signin-heading">sendResetLink</h2>
        </h3>
        <form name="form" (ngSubmit)="f.form.valid && sendResetLink()" #f="ngForm" novalidate>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" placeholder="Enter Email" class="form-control" name="email" [(ngModel)]="email"
              #email1="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email1.invalid }" required email />
            <div *ngIf="f.submitted && email1.invalid" class="invalid-feedback">
              <div *ngIf="email1.errors.required">Email is required</div>
              <div *ngIf="email1.errors.email">Email must be a valid email address</div>
            </div>
          </div>




          <div class="form-group">
            <button class="btn btn-primary">Send Reset Link</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #eee;height:400px; margin-top: 0px;"></div>