<script src="https://apis.google.com/js/platform.js" async defer></script>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand text-light">Issue Application</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/sign-up']">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>

<div class="jumbotron m-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>
                    <h2 class="form-signin-heading">Login to issue app</h2>
                </h3>
                <form name="form" (ngSubmit)="f.form.valid && signinFunction()" #f="ngForm" novalidate>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" placeholder="Enter Email" class="form-control" name="email"
                            [(ngModel)]="email" #email1="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && email1.invalid }" required email />
                        <div *ngIf="f.submitted && email1.invalid" class="invalid-feedback">
                            <div *ngIf="email1.errors.required">Email is required</div>
                            <div *ngIf="email1.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Password" class="form-control" name="password"
                            [(ngModel)]="password" #password1="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && password1.invalid }" required minlength="6" />
                        <div *ngIf="f.submitted && password1.invalid" class="invalid-feedback">
                            <div *ngIf="password1.errors.required">Password is required</div>
                            <div *ngIf="password1.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>


                    <a [routerLink]="['/forgotPassword']">Forgot Password</a><br>
                    <div class="form-group">
                        <button class="btn btn-primary">Login</button>
                    </div>
                    <a class="btn btn-primary" (click)="socialSignIn('google')"><span
                            class="fa fa-google"></span></a>



                </form>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #eee;height:270px; margin-top: 0px;"></div>